<!doctype html>
<!--[if lt IE 7 ]> <html lang="en" class="no-js ie6"> <![endif]-->
<!--[if IE 7 ]>    <html lang="en" class="no-js ie7"> <![endif]-->
<!--[if IE 8 ]>    <html lang="en" class="no-js ie8"> <![endif]-->
<!--[if IE 9 ]>    <html lang="en" class="no-js ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html lang="en" class="no-js"> <!--<![endif]-->
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	
	<title></title>
	<meta name="description" content="">
	<meta name="author" content="">
	
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	
	<link rel="shortcut icon" href="/favicon.ico">
	<link rel="apple-touch-icon" href="/apple-touch-icon.png">
	<link rel="stylesheet" href="css/style.css">

	<script src="js/libs/modernizr-1.7.min.js"></script>
</head>
<body>

	<div id="header-container">
		<header class="wrapper">
			<h1 id="title">File API</h1>
			<!--
            <nav>
				<ul>
					<li><a href="#">Some</a></li>
					<li><a href="#">navigation</a></li>
					<li><a href="#">links</a></li>
				</ul>
			</nav>
            -->
		</header>
	</div>
    
	<div id="main" class="wrapper">
		<aside>
			<h3>Espace de sélection</h3>
            
            <input size="13"  type="file" id="fileElem" multiple accept="image/*"  onchange="handleFiles(this.files)">
            <div id="fileList"></div>
            
            <script> 
                window.URL = window.URL || window.webkitURL;
                
                var fileElem = document.getElementById("fileElem"),
                    fileList = document.getElementById("fileList");
                
                function handleFiles(files) {  
                  if (!files.length) {
                    fileList.innerHTML = "<p>No files selected!</p>";
                  } else {
                    var list = document.createElement("ul");
                    for (var i = 0; i < files.length; i++) {                          
                      var li = document.createElement("li");
                      list.appendChild(li);
                      
                      var img = document.createElement("img");
                      img.src = window.URL.createObjectURL(files[i]);
                      img.height = 60;
                      img.onload = function(e) {
                        window.URL.revokeObjectURL(this.src);
                      }
                      li.appendChild(img);
                      
                      var info = document.createElement("div");
                      
                      infoName = 'Nom : ' +  files[i].name;
                      infoSize = ' <br /> Poids : ' + files[i].size;
                      infoInfo = ((files[i].size > 1000000) ? '<div style="color: red;" >Image est trop lourde ! </div>' : '');
                      info.innerHTML = infoName + infoSize + infoInfo;
                      
                      li.appendChild(info);
                    }
                    fileList.appendChild(list);
                  }
                }
            
            </script>
            
		</aside>
		<article>
			<header>
				<h2>Prévisualisation des fichiers images avant upload</h2>
                <h3>Sans librairies JavaScript</h3>
				<p>Nous allons ici permettre de sélectionner des fichiers de son ordi pour les afficher dans la page web.</p>
                <p>J'avoue avoir un petit problème de JS à ce niveau : je ne sais pas capturer l'évenement qui permet d'ouvrir la box de sélection d'une image sous chrome de façon à ce que je puisse masquer le input File et le remplacer par un lien ou une bouton (plus facile à looker)</p>
                <p>fileElem.click() ne fonctionnant pas sous chrome (voir le code source de la page)</p>
			</header>
			<h3>Code source</h3>
            <pre>
                &lt;input size="13"  type="file" id="fileElem" multiple accept="image/*"  onchange="handleFiles(this.files)" /&gt;
                &lt;div id="fileList"&gt;&lt;/div&gt;
            
                &lt;script&gt;
                window.URL = window.URL || window.webkitURL;
                
                var fileElem = document.getElementById("fileElem"),
                    fileList = document.getElementById("fileList");
                
                function handleFiles(files) {  
                  if (!files.length) {
                    fileList.innerHTML = '&lt;p&gt;No files selected!&lt;/p&gt;';
                  } else {
                    var list = document.createElement('ul');
                    for (var i = 0; i < files.length; i++) {                          
                      var li = document.createElement('li');
                      list.appendChild(li);
                      
                      var img = document.createElement("img");
                      img.src = window.URL.createObjectURL(files[i]);
                      img.height = 60;
                      img.onload = function(e) {
                        window.URL.revokeObjectURL(this.src);
                      }
                      li.appendChild(img);
                      
                      var info = document.createElement("div");
                      
                      infoName = 'Nom : ' +  files[i].name;
                      infoSize = ' &ltbr /&gt Poids : ' + files[i].size;
                      infoInfo = ((files[i].size > 1000000) ? '&lt;div style="color: red;" &gtImage est trop lourde ! &lt;/div&gt' : '');
                      info.innerHTML = infoName + infoSize + infoInfo;
                      
                      li.appendChild(info);
                    }
                    fileList.appendChild(list);
                  }
                }   
                &lt;/script&gt;
            </pre>
            <footer>
			<h3>A propos de l'auteur</h3>
            <p>Développer/Designer Web au sein d'Evernet<p>
            </footer>	
		</article>
	</div>
    
	<div id="footer-container">
		<footer class="wrapper">
			<h3>Fabien CANU</h3>
		</footer>
	</div>
    
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.min.js"></script>
	<script>!window.jQuery && document.write(unescape('%3Cscript src="js/libs/jquery-1.5.1.min.js"%3E%3C/script%3E'))</script>
	<script src="js/script.js"></script>
	<!--[if lt IE 7 ]>
	<script src="js/libs/dd_belatedpng.js"></script>
	<script> DD_belatedPNG.fix('img, .png_bg');</script>
	<![endif]-->
</body>
</html>